{% extends "shared.html" %}

{% block content %}
    <section id="blockContent" style="padding: 0">
        {% if sameContent.BG %}{% for bg in sameContent.BG %}
            <section id="locationBG" style=" padding: 0; background-image: url('{{ bg.eventPageListBG.url }} ')">
                <div class="col-12 siteHeading">
                    <h2>Events</h2>
                </div>
            </section>
            <section id="eventHead">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="eventTextBody">
                                <h4>Host <br>An Event <br>at <span>LaunchPad7</span></h4>
                                {% if sameContent.eventHeading %}
                                        <p>{{ sameContent.eventHeading.eventDetailText }}</p>
                                {% endif %}
                                <a href="{% url 'BookEvent' %}" class="btn btn-outline-warning">Host an
                                    Event</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <div class="eventImageBody">
                                {% if sameContent.eventHeading %}
                                        <img src="{{ sameContent.eventHeading.eventDetailImage.url }}" alt="" class="img-fluid">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}{% endif %}

        {#  Event Lsit Section #}
        <section id="eventList">
            <div class="container">
                {% if events_list %}
                    {% for events in events_list reversed %}
                        <div class="row mt-2 mb-5">
                            <div class="col-md-5 col-12">
                                <div class="eventListImage">
                                    <a href="{{ events.get_absolute_url }}"> <img class="img-fluid LocationImage"
                                                                                  src="{{ events.eventImage.url }}"></a>
                                </div>
                            </div>
                            <div class="col-md-5 col-12">
                                <div class="eventListDetail">
                                    <h4><a href="{{ events.get_absolute_url }}">{{ events.eventTitle }}</a></h4>
                                    <div class="eventData mt-5">
                                        <h5>Event Detail</h5>
                                        <ul>
                                            <li><i class="fa fa-map-marker eventIcon" aria-hidden="true"></i>
                                                <strong>Location:</strong> <span> {{ events.eventLocation }} </span>
                                            </li>
                                            <li><i class="far fa-calendar-alt eventIcon" aria-hidden="true"></i>
                                                <strong>Date:</strong> <span> {{ events.eventDate }} </span></li>
                                            <li><i class="fas fa-clock eventIcon" aria-hidden="true"></i>
                                                <strong>Time:</strong> <span> {{ events.eventTime }} </span></li>
                                             <li><i class="fas fa-info-circle eventIcon"></i>
                                            <strong>Status:</strong>
                                            <span> {{ events.status }} </span></li>
                                        </ul>
                                        <a href="{{ events.get_absolute_url }}"
                                           class="btn btn-outline-warning eventListButton">More Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-md-6 col-12 mt-5 pagination">
                        {% if is_paginated %}
                            <nav aria-label="Page navigation conatiner"></nav>
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
                                        Prev </a></li>
                                {% endif %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Next
                                        &raquo;</a></li>

                                {% endif %}
                            </ul>
                            </nav>

                        {% endif %}
                    </div>
                    <div class="col-md-6 col-12 pageNumbers mt-5">
                        {% if is_paginated %}
                            <p>Page {{ page_obj.number }} of {{ paginator.num_pages }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </section>


    </section>
{% endblock %}
