{% extends 'shared.html' %}

{% block content %}
    <section id="blockContent" style="padding: 0px">

        {% if sameContent.BG %}{% for bg in sameContent.BG %}
            <section id="locationBG" style=" padding: 0; background-image: url('{{ bg.packageFormBG }} ')">
                <div class="col-12 siteHeading">
                    <h2>Book Your Space</h2>
                </div>
            </section>
        {% endfor %}{% endif %}

        {# Event Booking Section#}
        <section id="contact">
            <div class="container">
                <div class="col-12 contactSubHeading">
                    <h3>Thank you very much for choosing the right place for your business.</h3>
                </div>
                <div class="col-12">
                    {#Successfull message for addition of co-worker#}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <p class="alert alert-success alert-dismissible fade show errorMessage"
                                   role="alert">{{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="contactFormBody">
                    <div data-aos="fade-up" data-aos-duration="2500">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="eventFormBody">
                                <div class="row mb-4">
                                    <div class="col-md-6 col-12">
                                        <label for="{{ form.name.id_for_label }}">Name:</label>
                                        {{ form.name }}
                                        <small class="errors">{{ form.name.errors }}</small>
                                    </div>
                                    <div class="col-md-6 col-12 ">
                                        <label for="{{ form.email.id_for_label }}">Email:</label>
                                        {{ form.email }}
                                        <small class="errors">{{ form.email.errors }}</small>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6 col-12 ">
                                        <label for="{{ form.phone.id_for_label }}">Phone:</label>
                                        {{ form.phone }}
                                        <small class="errors">{{ form.phone.errors }}</small>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class=" col-md-6 col-12">
                                        <label for="{{ form.selectedPackage.id_for_label }}">Package:</label>
                                        {{ form.selectedPackage }}
                                        <small class="errors">{{ form.selectedPackage.errors }}</small>
                                    </div>
                                    <div class="col-md-6 col-12 ">
                                        <label for="{{ form.selectedLocation.id_for_label }}">Location:</label>
                                        {{ form.selectedLocation }}
                                        <small class="errors">{{ form.selectedLocation.errors }}</small>
                                    </div>
                                </div>
                                <div class="captchaButton">
                                     <div class="g-recaptcha" data-sitekey="6LesB8IUAAAAAPVr4y_kGa9xorQt_BR2LgxraxD5"></div>
                                </div>
                            </div>
                            <div class="contactButton">
                                <button type="submit" class="contactBTN btn btn-outline-warning">Send</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-12 contactSubHeading">
                <h3>Get social with us</h3>
            </div>
            <div class="col-12 contactSocial">
                <div class="contactSocialIcons">
                    <ul>
                        <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter fa-2x"></i></a></li>
                        {#                            <li><a href=""><i class="fab fa-facebook"></i></a></li>#}
                        {#                            <li><a href=""><i class="fab fa-facebook"></i></a></li>#}
                    </ul>

                </div>

            </div>
        </section>


    </section>
{% endblock %}